{% extends "base.html" %}
{% load static %}



{% block title %}
<title>SchoolApp | Home</title>
{% endblock title %}


{% block csscode %}
<style>
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .announce-section {
        padding: 0 3rem;
        margin: auto;
        margin-top: .5rem;

    }

    .title {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .inner-content {
        padding-left: 2rem;
    }

    .posted {
        color: red;
        font-size: .8rem;
        font-weight: 600;
    }

    input {
        height: 150px;
    }

    .comment-section {
        font-size: .8rem;
    }

    a {
        text-decoration: none;
    }


    @media screen and (max-width:800px) {
        .container-fluid {
            padding: 0;
            margin: 0;
        }

        h1 {
            font-size: 2rem;
            font-weight: 700;
        }

        .header-image {
            min-height: 25vh;
            justify-content: center;
        }

        .announce-section {
            padding: 0 0rem;
            width: 90%;
        }

        .title {
            font-size: 1rem;
        }

        .inner-content {
            padding-left: .5rem;
        }

        p,
        span,
        a,
        textarea {
            font-size: .8rem;
            opacity: .9;
        }

        .posted {
            font-size: .7rem;
        }

        img {
            width: 100%;
        }

        .comment-section span,
        .comment-section a {
            font-size: .7rem;
        }
    }
</style>
{% endblock csscode %}


{% block body %}
<div class="container-fluid container-md "style="margin-top: 2rem;">
    <div class="section">

        <div class="row">
            <div class="col-12 col-md-8 announce-section">
                <h2 class="title text-center">{{announcement.title}}</h2>


                <div class="img-thumbnail text-center">
                    {% if announcement.image %}
                    <img src="{{announcement.image.url}}" class="my-auto mb-3 w-100" alt="">
                    {% endif %}
                    <div class="inner-content text-start">
                        <p>{{announcement.content}}</p>
                        <span>Uploaded by - <span class="fw-bold fst-italic">{{announcement.created_by}}</span></span>
                        <br>
                        <span class="posted small">{{announcement.created_at | timesince}} ago</span>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="right-section mt-5 p-2">
                    <p class="fw-bold text-uppercase">Comments</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <textarea name="content" class="form-control" id="comments" cols="30" rows="4"
                            placeholder="Write something here..."></textarea>
                        <button type="submit" class="btn btn-danger w-100 mt-2 btn-sm">Submit</button>
                    </form>
                    <hr>

                    {% for comment in comments %}
                    <div class="comment-section">
                        <p class="comment">{{comment.content}}</p>
                        <span class="float-end"> - {{comment.created_by}}</span>
                        <span class="">{{comment.created_at|timesince}} ago</span><br>
                        {% if request.user.is_staff or request.user == comment.created_by %}
                        <a href="{% url 'delete_comment' comment.id %}" class="text-danger">Delete</a>
                        {% endif %}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

</body>

</html>