{% extends "base.html" %}
{% load static %}



{% block title %}
<title>SchoolApp | Signin</title>
{% endblock title %}


{% block csscode %}
<style>
    body {
        box-sizing: border-box;
        min-height: 100vh;
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("https://t4.ftcdn.net/jpg/05/69/28/27/360_F_569282797_NjFV9M9fsZ9kz7fJ6cToGq7EWhIr8DaE.jpg");
        background-size: cover;
        background-position: center;
    }

    form {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
    }

    input {
        margin-bottom: 15px;
    }

    .form-label{
       margin-bottom: 5px;
       font-weight: 600;
       font-size: small;
    }

    .form-section {
        min-height: 100vh;
    }

    span{
        color: red;
    }
</style>
{% endblock csscode %}


{% block body %}
<div class="container-fluid-sm container-md p-0">
    <div class="form-section d-flex flex-column justify-content-center align-items-center">
        <form class="" method="post" action="signin">
            {% csrf_token %}
            <h4 class="text-uppercase fw-bold text-center mb-3">Create Form</h4>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger p-1 text-center">
                <span class="small">{{message}}</span>
            </div>
            {% endfor %}
            {% endif %}

            <label for="username" class="form-label">Username<span>*</span> : </label>
            <input type="text" name="username" id="username" class="form-control">

            <label for="password" class="form-label">Password<span>*</span> : </label>
            <input type="password" name="password" id="username" class="form-control">

            <label for="password2" class="form-label">Confirm Password<span>*</span> : </label>
            <input type="password" name="password2" id="username2" class="form-control">

            <label for="username" class="form-label">Full Name<span>*</span> : </label>
            <input type="text" name="full-name" id="username" class="form-control">

            <label for="username" class="form-label">Roll Number<span>*</span> : </label>
            <input type="text" name="username" id="username" class="form-control">

            <label for="username" class="form-label">Class<span>*</span> : </label>
            <select name="class" id="class" class="form-select  mb-3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>


            <div class="alert alert-primary p-1 ps-2">
                <li class="small">* Indicates required feilds</li>
                <!-- <li class="small">Please enter details correctly</li>
                <li class="small">Please enter details correctly</li> -->
            </div>

            <button type="submit" class="btn btn-danger text-center w-100 mt-3">Submit</button>

        </form>
    </div>
</div>
{% endblock body %}

</body>

</html>