{% extends "base.html" %}
{% load static %}



{% block title %}
<title>SchoolApp | Signin</title>
{% endblock title %}


{% block csscode %}
<style>
    body {
        box-sizing: border-box;
        min-height: 100vh;
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("https://t4.ftcdn.net/jpg/05/69/28/27/360_F_569282797_NjFV9M9fsZ9kz7fJ6cToGq7EWhIr8DaE.jpg");
        background-size: cover;
        background-position: center;
    }

    form {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
    }

    input {
        margin-bottom: 15px;
    }

    label{
       margin-bottom: 5px;
       font-weight: 600;
       font-size: small;
    }

    .form-section {
        min-height: 100vh;
    }

    ul{
        font-size: small;
    }

    @media screen and (max-width:600px) {
        body{
            background-image: none;
            background-color: white;
        }
        .form-control {
            padding: 8px;
            font-size: .9rem;
        }
    }
</style>
{% endblock csscode %}


{% block body %}
<div class="container-fluid-sm container-md p-0" style="margin-top: 2rem;">
    <div class="form-section d-flex flex-column justify-content-center align-items-center">
        <form class="" method="post" action="">
            {% csrf_token %}
            <h4 class="text-uppercase fw-bold text-center mb-3">EDIT ANNOUNCEMENT</h4>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger p-1 text-center">
                <span class="small">{{message}}</span>
            </div>
            {% endfor %}
            {% endif %}
            
            {{ form.as_p }}

            <button type="submit" class="btn btn-danger w-100">Submit</button>
        </form>
    </div>
</div>

<script>
    const inputEl = document.querySelectorAll('input')
    inputEl[1].style.display = "none";

    const labelEl = document.querySelectorAll('label')
    labelEl[1].style.display = "none";


    for(let i = 0; i < inputEl.length;i++){
        inputEl[i].setAttribute("class","form-control")
    }

    const textEl = document.getElementsByTagName('textarea')
    textEl[0].setAttribute("class","form-control")

    const spanEl = document.getElementsByTagName('span')
    spanEl[0].setAttribute("class","alert alert-primary p-0 ps-2 small m-0 d-block w-100")

    const aEl = document.getElementsByTagName('a')
    aEl[0].setAttribute("class","d-none")


    const pEl = document.getElementsByTagName('p')
    const innerEl = pEl[0].childNodes

    for(var i=0; i<9;i++){
        innerEl[i]
    }
</script>
{% endblock body %}
