<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SCHOOL APP</h1>
    <p><span class="" style="font-weight: 600;">Name :</span>{{userquery.username}}</p>
    <p><span class="" style="font-weight: 600;">Emal :</span>{{userquery.email}}</p>
    <p><span class="" style="font-weight: 600;">Phone :</span>{{userquery.phone}}</p>
    <p><span class="" style="font-weight: 600;">Message :</span><br>{{userquery.description}}</p>
</body>
</html>