
<!-- header section strats -->
<header class="header_section shadow-lg">

    <nav class="navbar navbar-expand-lg custom_nav-container navbar-light bg-light fixed-top px-2 shadow-sm z-1"
       style="color:#000">
       <div class="">
          <a class="navbar-brand" href="{% url 'home' %}">
             <span class="text-dark">
                School App
             </span>
          </a>
       </div>
       {%if not request.user.is_authenticated %}
       <div class="">
          <a href="{% url 'signin' %}" class="float-end btn btn-outline-danger btn-sm">Signin</a>
       </div>
       {% endif %}
    </nav>
 </header>


<input type="checkbox" id="check">

{% if request.user.is_authenticated %}
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
{% endif %}

<div class="sidebar fixed-top z-3">
    <header>Menu</header>
    <a href="{% url 'home' %}">
        <i class="fas fa-home"></i>
        <span class="sidebar-span">Home</span>
    </a>

    <a href="{% url 'chat_list' %}">
        <i class="fas fa-comments"></i>
        <span class="sidebar-span">Chats</span>
    </a>

    <a href="{% url 'announchments' %}">
        <i class="fas fa-bullhorn"></i>
        <span class="sidebar-span">Announcements</span>
    </a>

    {% if request.user.is_staff  %}
    <a href="{% url 'display_tests' %}">
        <i class="fas fa-stream"></i>
        <span class="sidebar-span">Tests</span>
    </a>

    <a href="{% url 'users_list' %}">
        <i class="fas fa-users"></i>
        <span class="sidebar-span">List Users</span>
    </a>
    <a href="{% url 'create-user' %}">
        <i class="fas fa-graduation-cap"></i>
        <span class="sidebar-span">New Student</span>
    </a>
    <a href="{% url 'create-teacher' %}">
        <i class="fas  fa-user-plus"></i>
        <span class="sidebar-span">New Teacher</span>
    </a>
    {% else %}
    <a href="{% url 'student_display_tests' %}">
        <i class="fas fa-sliders-h"></i>
        <span class="sidebar-span">My Tests</span>
    </a>
    {% endif %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'profile_page' request.user.id %}">
        <i class="fas fa-user-circle"></i>
        <span class="sidebar-span">Profile</span>
    </a>
    {% endif %}
    <a href="{% url 'logout' %}">
        <i class="fas fa-window-close"></i>
        <span class="sidebar-span">Logout</span>
    </a>
</div>
</div>